{{ block content }}
    <!-- Version 1.1 -->
    <link rel="stylesheet" href="{{ static 'global/base.css' }}">
    <div class="row">
        <div class="container-fluid">
            <div class="row text-center mt-5">
                <div class="alert alert-info" role="alert">
                    <h2 class="text-capitalize">Seccion 3 - Decision</h2>
                </div>
            </div>
            <div class="row text-center my-3">
                {{ if chosen_one}}
                    <div class="alert alert-success" role="alert">
                        <h2 class="fw-bold">Usted ha sido seleccionado</h2>
                    </div>
                {{ else }}
                    <div class="alert alert-danger" role="alert">
                        <h2 class="fw-bold">Usted NO ha sido seleccionado</h2>
                    </div>
                {{ endif }}
            </div>
            <div class="row my-3">
                <div class="col-6 border border-secondary text-center p-3">
                    {{ if pce }}
                        <p>En la <b>Sección 4</b>, a los vendedores automatizados NO se les permitirá sugerir un precio por encima de {{ max_price }}, lo que garantiza que el precio de mercado NO superará {{ max_price }} (como en la Sección 1).</p>
                        <button name="section_4_setting" value="False" class="btn btn-success">Escogo esta opcion</button>
                    {{ else }}
                        <p>En la <b>Sección 4</b>, a los vendedores automatizados se les permitirá sugerir cualquier precio por encima de su costo (como en la Sección 1).</p>
                        <button name="section_4_setting" value="True" class="btn btn-success">Escogo esta opcion</button>
                    {{ endif }}
                </div>
                <div class="col-6 border border-secondary text-center p-3">
                    {{ if pce }}
                        <p>En la <b>Sección 4</b>, a los vendedores automatizados se les permitirá sugerir cualquier precio por encima de su costo (como en la Sección 2).</p>
                        <button name="section_4_setting" value="True" class="btn btn-success">Escogo esta opcion</button>
                    {{ else }}
                        <p>En la <b>Sección 4</b>, a los vendedores automatizados NO se les permitirá sugerir un precio por encima de {{ max_price }}, lo que garantiza que el precio de mercado NO superará {{ max_price }} (como en la Sección 2).</p>
                        <button name="section_4_setting" value="False" class="btn btn-success">Escogo esta opcion</button>
                    {{ endif }}
                </div>
            </div>
        </div>
    </div>
{{ endblock }}
